
p {
    font-size: 3em;
    color: #565656;
    width: 100%;
    text-align: center;
}
ion-label{
    font-family: fantasy;
    font-weight: bold;
}
ion-item{
    font-family: fantasy;
    font-weight: bold;
}